QMainWindow{
    min-width: 1280;
    min-height: 720;
}

QLabel{
    color: white
}

QLabel#header {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 10px;
}

QMainWindow, QTabWidget::pane, QDialog, QWidget#ser-debugger{
    background: #151415;
    
}

QTabBar::tab{
    background: black;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    min-width: 100px;
    color: #CCCCCC
}

QTabBar::tab:selected{
    background: #201F20;
    border-bottom: 4px solid #105BF6;
    color: white;
}

QTabWidget::pane{
    background-color: transparent;
    border: none;
}

QTabWidget::tab-bar{
    left: 0;
}

QTabBar{
    background: #151415;
}

QGraphicsView{
    background: #151415;
}

QWidget#widget-container{
    background-color: #201F20; 
    border-radius: 10px;
}

IconButton{
    background: #3E3E3E;
    border-radius: 10px;
    padding: 15px;
    qproperty-iconSize: 30px;
    border: 2px solid #CCCCCC
}

IconButton:hover{
    background: #4e4e4e;
}

IconButton:pressed{
    background: #5E5E5E;
}

QLabel#btn-legend{
    font-size: 12px;
    color: #CCCCCC;
    font-weight: 300;
}

QTabWidget#control-tabs::pane{
    background-color: #201F20;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QTabWidget#control-tabs QTabBar::tab{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

QTabWidget#control-tabs::tab-bar{
    min-width: 10000;
}

QLabel#legend{
    color: #CCCCCC;
    font-weight: 300;
    font-size: 14px;
}

QSlider::groove:horizontal {
    border: 1px solid red;
    height: 2px; 
    border-radius: 5px;
}
QSlider::handle:horizontal {
    background: #105BF6;
    width: 10px;
    margin: -5px -1px;
    border-radius: 5px;
    border: 1px solid #105BF6

}

QSlider::add-page:horizontal{
    background: #151415
}

QSlider::sub-page:horizontal{
    background: #105BF6;
}

QSlider::handle:horizontal:hover{
    background: #1261ff;
    border-color: #1261ff;
}

QPushButton#action-btn, QPushButton#reject-btn{
    height: 28px;
    background: #3e3e3e;
    border-radius: 10px;
    color: #CCCCCC;
}

QPushButton#action-btn:hover, QPushButton#reject-btn:hover{
    height: 28px;
    background: #4e4e4e;
    color: #CCCCCC;
}

QPushButton#action-btn:disabled, QPushButton#reject-btn:disabled{
    height: 28px;
    background: hsl(0, 0%, 17%);
    border-radius: 10px;
    color: hsl(0, 0%, 50%);
}
QPushButton#action-btn:pressed, QPushButton#reject-btn:pressed{
    background-color: hsl(0,0%, 37%);
}

QSpinBox, QDoubleSpinBox{
    border: 1px solid #5E5E5E;
    border-radius: 5px;
    background: #151415;
    color: #CCCCCC;
    padding: 5px;
}

QSpinBox::up-button, QDoubleSpinBox::up-button{
    border-image: url("resources/icons/caret-up-icon.svg");
    margin-top: 3px;
    margin-right: 5px;
}
QSpinBox::down-button, QDoubleSpinBox::down-button{
    border-image: url("resources/icons/caret-down-icon.svg");
    margin-right: 5px;
    margin-bottom: 3px
}

*{
    selection-background-color: #5e5e5e;
}

QWidget#details{
    background: hsl(0, 0%, 17%);
    border-radius: 11px;
    border: 1px solid hsl(0, 0, 60%);
}

QWidget#details QLabel{
    color: hsl(0, 0, 60%);
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

QLineEdit#name{
    background-color: hsl(0, 0, 17%); /* Background color of the QLineEdit */
    padding: 5px; /* Padding inside the QLineEdit */
    color: #fff;
    font-size: 16px; /* Font size */
    border-radius: 10px;
}

QLineEdit#name:focus {
    border: 2px solid #105BF6; /* Border color when the QLineEdit is focused */
}

QPushButton#video_control_btn{
    background: transparent;
    height: 30px;
    width: 30px;
}

QCheckBox#switch::indicator{
    width: 30px;
    height: 19px;
    border-radius: 9px;
    /* padding: 2px; */

}

QCheckBox#switch::indicator:unchecked{
    image: url(resources/icons/toggle-off-icon.svg);
}
QCheckBox#switch::indicator:hover{
    background-color: hsl(0, 0%, 31%);
}

QCheckBox#switch::indicator:checked{
    image: url(resources/icons/toggle-on-icon.svg);
}

QComboBox {
    border-radius: 10px;
    background-color: hsl(0, 0, 24%);
    padding: 5px;
    padding-left: 10px;
    color: white;
    border-style: none;
}

QComboBox::drop-down {
    width: 25px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

QComboBox::drop-down:on {
    background-color: hsl(0, 0%, 17%);
    width: 25px;
}

QComboBox::down-arrow {
    image: url(resources/icons/caret-down-icon.svg);
    width: 25;
}

QComboBox QAbstractItemView{
    background-color: hsl(0, 0, 17%);
    selection-color: white;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}



QWidget#sub-widget-container{
    border-top: 1px solid #5E5E5E;
    border-bottom: 1px solid #5e5e5e;
}

QLabel#status{
    color: #CCCCCC;
    font-weight: 300;
    font-size: 12px;
}

QLineEdit#command{
    background-color: hsl(0, 0, 17%); /* Background color of the QLineEdit */
    padding: 5px; /* Padding inside the QLineEdit */
    color: #fff;
    font-size: 16px; /* Font size */
    border-radius: 10px;
}

QLineEdit#command:focus {
    border: 1px solid #CCCCCC; /* Border color when the QLineEdit is focused */
}

QTextEdit{
    background-color: hsl(0, 0, 17%);
    color:#fff;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
}

QTableView{
    background-color: #201F20;
}
QTableWidget::item {
    color: #CCCCCC;                    
    background-color: hsl(0, 0, 17%);         
    border-radius: 3px;
}

QTableWidget::item:selected {
    background-color: #5e5e5e;
}

QLabel#digit {
    font-size: 50pt;
    color: #fff;
    font-weight: 800;
}

QPushButton#accept-btn{
    height: 28px;
    background: hsl(220, 93%, 51%);
    border-radius: 10px;
    color: #CCCCCC;
}

QPushButton#accept-btn:hover{
    height: 28px;
    background: hsl(220, 93%, 58%);
    color: #CCCCCC;
}

QPushButton#accept-btn:disabled{
    height: 28px;
    background: hsl(220, 93%, 44%);
    border-radius: 10px;
    color: hsl(0, 0%, 50%);
}
QPushButton#accept-btn:pressed{
    background-color: hsl(220, 93%, 64%);
}

QProgressBar#progress-bar{
    background-color: #151415;
    border-radius: 9px;
    border: 6px solid transparent;
    height: 0px;
}

QProgressBar#progress-bar::chunk {
    background-color: #105BF6;
    border-radius: 3px;
}

QPushButton#icon-btn{
    height: 40px;
    width: 40px;
    background: #3e3e3e;
    border-radius: 10px;
    color: #CCCCCC;
}

QPushButton#icon-btn:hover{
    height: 28px;
    background: #4e4e4e;
    color: #CCCCCC;
}

QPushButton#icon-btn:disabled{
    height: 28px;
    background: hsl(0, 0%, 17%);
    border-radius: 10px;
    color: hsl(0, 0%, 50%);
}
QPushButton#icon-btn:pressed{
    background-color: hsl(0,0%, 37%);
}

QPushButton#icon-btn:focus{
    background: hsl(220, 93%, 51%);
}